<div class="centered-text">
  <h1>
    {{ title }}
  </h1>
  <mat-form-field>
    <input matInput type="search" [(ngModel)]="value" (keydown)="onKeyDown($event)"/>
  </mat-form-field>
  <button mat-icon-button aria-label="Search Recipe" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</div>
<div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollDisabled]="isBusy" (scrolled)="onScroll()">
  <mat-grid-list cols="{{ gridCols }}" rowHeight="320px" gutterSize="5px">
    <mat-grid-tile *ngFor="let hit of hits">
      <mat-card (click)="showRecipe(hit.recipe)">
        <mat-card-header>
          <mat-card-title>{{ hit.recipe.label }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ hit.recipe.image }}" alt="Photo of {{ hit.recipe.label }}" class="card-image">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-spinner mode="indeterminate" *ngIf="showSpinner" class="spinner"></mat-spinner>
