@import '~@angular/material/theming';

@include mat-core();

$recipe-app-primary: mat-palette($mat-red, A700, 900, 500);
$recipe-app-accent: mat-palette($mat-pink, A200, A100, A400);
$recipe-app-warn: mat-palette($mat-red);

$recipe-app-theme: mat-light-theme($recipe-app-primary, $recipe-app-accent, $recipe-app-warn);
@include angular-material-theme($recipe-app-theme);